div{
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  background-color: rgb(74, 74, 74);
  color: white;
  width: 100%;
  height: 60px;
  margin: 0;
}

a {
  stroke: black 5px;
}

a:link,:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 115, 255);
  background-color: transparent;
  text-decoration: none;
}